.wrapper {
  display: flex;
  color: #ccc;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  align-items: center;
}
.container {
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
  transition: 0.4;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.poster {
  width: 200px;
  border-radius: 8px;
  margin-right: 20px;
  height: 100%;
  min-height: 280px;
  max-height: 280px;
  overflow: hidden;
}

.details {
  max-width: 600px;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.genre {
  color: #aaa;
  font-size: 16px;
  margin-top: 5px;
  text-transform: uppercase;
}

.meta {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
  font-size: 16px;
}

.year {
  margin-right: 15px;
}

.duration {
  margin-left: 15px;
}

.description {
  margin-top: 15px;
  line-height: 1.6;
  color: #bbb;
}
