.selectContainer {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.label {
  margin-right: 10px;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.select {
  border: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  appearance: none;
  cursor: pointer;
  padding-right: 20px;
  position: relative;
  padding: 2px;
}

.select::after {
  content: "▼";
  color: red;
  position: absolute;
  right: 10px;
  pointer-events: none;
}
